.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 1rem;
  background-image: url('./blur.jpg');
  background-size: cover;
  filter: brightness(1.10);
  text-shadow: 2px 2px 12px steelblue;
}
