input {
  z-index: 998;
  background: transparent;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.2rem;
  font-weight: 400;
  padding-bottom: 0px;
  width: 650px;
  padding-left: -1px;
}

input:focus,
button:focus {
    outline: none;
}

::placeholder {
  color: black;
  font-weight: 300;
}

option {

}

input::-webkit-calendar-picker-indicator {
  display: none;
}

button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.location {
  font-size: 4.2rem;
  font-weight: 400;
  cursor: pointer;
}